LEGACY_ORIGIN=https://www.rudradental.com

NEXT_PUBLIC_GOOGLE_VERIFICATION=
NEXT_PUBLIC_BING_VERIFICATION=
NEXT_PUBLIC_YANDEX_VERIFICATION=

GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=ChIJXzibfZpfUjoRWuSi32qhkHM
